@import "_shorts.scss";
@import "_mixins.scss";

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: $size;
    //border: 1px solid red;
}

body{
    background-color: $dblue;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 520px;

}

nav{
    font-family: $raleway;
    @include unalignedflex(row nowrap);
    justify-content: space-between;
    align-items: center;
    margin: 3rem;

    ul{
        list-style-type: none;
        @include unalignedflex(row nowrap);
        justify-content: space-between;
        width: 330px;
        margin-right: 1.5rem;

        a{
            text-decoration: none;
            color: $white;
            font-weight: map-get($weight, "reg");
        }

        li{
            padding: 1.2rem;
            min-width: 50px;

        }
    }

    a:visited{
        color: rgb(153, 153, 229);
    }

    a:hover{
        color: $cyan;
    }

    a:active{
        color: $white;
        transition: 0.4sec;
    }
}

.logo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img{
        width: 40%;
        margin-top: 3rem;
    }

    h1,h3{
        padding: 1rem;
        color: $white;
        font-family: $sans;
    }

    h1{
        font-weight: map-get($weight, "big");
        font-size: 22px;
        width: 400px;
    }

    h3{
        font-weight: map-get($weight, "reg");
        font-size: 12px;
        width: 360px;
        line-height: 20px;
    }
}


button{
    color: $white;
    font-family: $sans;
    font-weight: map-get($weight, "big");
    text-decoration: none;
    width: 300px;
    height: 50px;
    background-color: $lightblue;
    border-radius: 30px;
    border: 2px solid $lightblue;
    margin: 4rem auto;

    button:hover{
        background-color: $cyan;

    }
}

.features{
    background-color: $backblue;
    @include fullflex(column wrap);

    .container{
        @include fullflex(row wrap);

        .access, .security, .collaborate, .storage{
            max-width: 350px;
            min-height: 150px;
            margin: 1rem 4rem;

            @include fullflex(column nowrap);
            justify-content: space-around;
            padding: 20px;


            img{
                height: 100px;
            }
            
            h3, h4{
                margin-top: 0.8rem;
                color: $white;
                font-family: $sans;
            }

            h3{
                font-weight: map-get($weight, "big");
                font-size: 18px;
            }

            h4{
                font-weight: map-get($weight, "reg");
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.productive{
    background-color: $backblue;
    @include fullflex(row wrap);
    padding: 4rem;


    img.main-2{
        width: 35%;
    }


    .wording{
        max-width: 400px;
        padding: 30px;

        h2, h4{
            padding: 1rem;
            color: $white;
            font-family: $sans;
        }

        h2{
            font-size: 20px;
            font-weight: map-get($weight, "big");
        }

        h4{
            font-size: 12px;
            line-height: 20px;
            max-width: 300px;
            margin: auto;
            font-weight: map-get($weight, "reg");
        }

        .works a{
            width: 80px;
            color: $cyan;
            padding: 10px;
            border-bottom: 1px solid $cyan;
            margin: auto;
            text-decoration: none;
            font-family: $raleway;

            img{
                position: relative;
                top: 4px;
                left: 4px;
            }
        }
    }
}

.review-container{
    @include fullflex(row wrap);
    background-color: $backblue;
    padding-top: 100px;

    .review, .review1{
        width: 350px;
        background-color: $revblue;
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 15px;
        }

        .review{
            margin-bottom: 2.6rem;
        }

        p{
            color: $white;
            font-size: 13px;
            font-family: $raleway;
            line-height: 20px;
            margin-top: 15px;
            padding: 20px;
        }

        .person{
            @include unalignedflex(row wrap);
        
            .wordsperson{
                @include unalignedflex(column nowrap);
                justify-content: center;

                h5, h6{
                    color: $white;
                    font-family: $raleway;
                    font-size: 12px;
                    font-weight: map-get($weight, "big");
                }
            }
        }

        .person img{
            height: 30px;
            border-radius: 50%;
            padding: 20px;
        }

        .review1 {
            position: relative;
            top: -38px;
        }
}

.quote-flex{
    @include unalignedflex(row wrap);
    width: 400px;

    img.quotes{
        position: relative;
        top: -10px;
        z-index: -1;
    }
}

.email{
    @include fullflex(column wrap);
    background-color: $dblue;
    margin: 0 auto;
    min-height: 150px;
    max-width: 800px;
    padding: 30px;
    border-radius: 45px;
    position: relative;
    top: 50px;
}

    h3, h4{
        color: $white;
        font-family: $raleway;
        padding: 10px;

    }

    h4{
        font-weight: map-get($weight, "reg");
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 1rem;
    }

    h3{
        font-size: 20px;
        margin-top: 1rem;
    }

    .input{
        @include fullflex(row wrap);

        input{
            width: 250px;
            border-radius: 30px;
            background-color: $white;
            border: 3px solid $white;
            padding: 15px;
            outline: none;
            font-family: $sans;
        }

        button.free{
            width: 290px;
            color: $white;
            padding: 15px;
        }

        input, button.free{
            margin: 1rem 2rem;
        }
    }


.ending{
    @include unalignedflex(row wrap);
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $footblue;
    padding: 5rem;

    .lorem{
        width: 450px;

        .locationwords{
            @include unalignedflex(row nowrap);

            img{
                height: 20px;
                position: relative;
                top: 30px;
                padding: 10px;
            }
        }
    }

    h2, h5{
        color: $white;
        font-family: $raleway;
        padding: 10px;
        font-weight: 400;
    }

    h6{
        font-size: 12px;
        color: $white;
        font-family: $raleway;
        padding: 5px;
        font-weight: 400;
        
    }

    h5{
        font-size: 14px;
    }

    h2{
        margin-top: 1rem;
        font-size: 14px;
        line-height: 20px;
    }

    .socials img{
        height: 20px;
        width: 20px;
        padding: 10px;
        margin: 5px;
        border: 1px solid $white;
        border-radius: 50%;
    }

}

@media all and (max-width: 800px){
    .phone, .contact, .fours, .termsies{
        width: 400px;
        margin: 1rem;
    }
}

@media all and (min-width: 600px) and (max-width: 900px){
    .phone, .contact, .fours, .termsies, .socials{
        width: 500px;
        margin: 1rem;
    }
}

.attribution{
    color: $white;
    font-family: $sans;
    font-size: $size;
    margin: 1rem auto;

    a{
        color: $cyan;
    }
}

#emailLabel{
    @include fullflex(column nowrap);

    #emailError{
        color: $red;
        font-family: $raleway;
        font-size: 12px;
        font-weight: 300;
        position: relative;
        top: -5px;
    }
}

button:hover{
    background-color: $dblue;
}

button:active {
    background-color: $footblue;
}

#emailError{
    color: red;
    position: relative;
    left: 50px;
}

#form{
    @include fullflex(row wrap);

}

.wrapper{
    @include unalignedflex(column nowrap);
    align-items: start;
    height: 100px;
    position: relative;
    top: 10px;
}

.wripwrap{
    background-color: $backblue;
}